block nav

	nav.navbar.navbar-default.navbar-fixed-top
		.container
			ul.nav.navbar-nav.navbar-left
				li
					a(href="/dashboard") Accueil
				

			ul.nav.navbar-nav.navbar-right
				li
					a(href="#")
						span.glyphicon.glyphicon-print( aria-hidden="true" )
				li
					a(href="#")
						span.glyphicon.glyphicon-cog( aria-hidden="true" )
				li
					a(href="/logout")
						span.glyphicon.glyphicon-log-out( aria-hidden="true" )